#cookie-policy {
	clear: both;
}

.cookie-box {
	position: fixed;
    right: 10px;
    bottom: 10px;
    width: 200px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #FFFF8A;
    padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
	color: #DBDB00;
    background-color: #00608F;
    display: none;
	float:right;
	font-weight: bold
}

 .cookie-box a {
	float: right;
	color: #FFFFFF;
	font-weight: bold;
}